<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/styles.css">
    <title>Document</title>
    <style>
        .first{
            display: flex;
            flex: 1;
            background-color: teal;
            height: 8vh;
            width: 98vw;
        }
        a{
            margin: 30px;
            font-size: 25px;
            text-decoration: underline;
        }
        .grayDivFile{
            background-color: lightgray;
            height: 90vh; 
            width: 13vw; 
            flex-direction: column;
            float: left;
            display: flex;
            flex: 1;
            align-items: center;

        }
        .table1{
            height: 4vh;
            width: 85vw;
        }
        .trclass{
            background-color: #03C0C1;
            height: 3vh;
        }
        .row{
            flex-direction: row;
        }
        .black{
            color: black;
        }
        .font{
            margin-top: 2vh;
            font-size: 35px;
            color: gray;
            text-shadow: 1px 1px black;
        }
        .files{
            margin-top: 5vh;
            margin-left: 10vw;
        }
        .uuu{
            margin-top: 8vh;
            color: gray;
            font-size: 12px;
            text-align: center;
            border:none;
            background-color: lightgray;
            text-decoration: underline;
        }
        .aa{
            margin-left: 3vw;
            margin-top: 5vh;
            font-size: 25px;
        }
        .aaa{
            text-decoration: underline;
            color: #03C0C1;
        }
        .sth{
            text-align: center;
            margin-top: 70vh;
            font-size: 10px;
            color: gray;
        }
        .fonts{
            font-size: 10px;
            color: gray;
        }
        .loginDiv{
            border: 2px solid black;
        }
    </style>
</head>
<body>
    <div class="first">
        <a href="/upload" class="black">Upload</a>
        <a href="/filemanager" class="black">Filemanager</a>
        <a class="black">Info</a>
    </div>
    {{{body}}}

</body>
</html>