<div class="row1">
    <div class="grayDivFile">
        <div class="font">Filemanager</div>
        <form method="post" action="delAll">
            <input class="uuu" type="submit" value="usun dane o plikach z tablicy">
        </form>
        <div class="sth">Icons made by <a class="fonts" href="https://www.flaticon.com/authors/eucalyp" title="Eucalyp">Eucalyp</a>
         from <a class="fonts" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
    </div>
    <div style="float: left ">
        <table class="table1">
            <tr class="trclass">
                <th>id</th>
                <th>obraz</th>
                <th>name</th>
                <th>size</th>
                <th>type</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
            {{#each files}}
            {{>table}}
            {{/each}}
        </table>
    </div>
</div>
