<div class="row">
    <div class="grayDivFile">
        <div class="font">Filemanager</div>
        <u class="uuu">usun dane o plikach z tablicy</u>
    </div>
    <div style="float: left ">
        <table class="table1">
            <tr class="trclass">
                <th>id</th>
                <th>obraz</th>
                <th>name</th>
                <th>size</th>
                <th>type</th>
                <th>-</th>
                <th>-</th>
                <th>-</th>
            </tr>
            <tr>
                <th>id-zmienna</th>
                <th>obraz-zmienna</th>
                <th>name-zmienna</th>
                <th>size-zmienna</th>
                <th>type-zmienna</th>
                <th>--zmienna</th>
                <th>--zmienna</th>
                <th>--zmienna</th>
            </tr>
        </table>
    </div>
</div>