<div class="row">
    <div class="grayDivFile">
        <div class="font">File info</div>
    </div>
    <div style="float: left;">
        <div class="aa">id: </div>
        <div class="aa">name: </div>
        <div class="aa">path: </div>
        <div class="aa">size: </div>
        <div class="aa">type: </div>
        <div class="aa">savedate: </div>
    </div>
</div>