<div class="row">
    <div class="grayDivFile">
        <div class="font">Upload</div>
    </div>
    <div style="float: left;">
        <div class="files">
            <form enctype="multipart/form-data" method="POST" action="/handleUpload">
                <input type="file" multiple required id="uploadFile" name="uploadFile">  
                <input name="bt1" value="submit" type="submit" />
            </form>
        </div>
    </div>
</div>