<div class="row">
    <div class="grayDivFile">
        <div class="font">File info</div>
    </div>
    <div style="float: left;">
        <div class="files">
            <input type="button" value="Przeglądaj...">
            Nie wybrano plików
            <input type="button" value="Upload">
        </div>
    </div>
</div>